html{
    scroll-behavior: smooth;
}
.encabezado{
    grid-area: encabezado;
    background-color: wheat;
    background-blend-mode: color-burn;
    height: 650px;
    background-image: url(../assets/BackgroundHeader.png);
    background-attachment: fixed;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    & h2{
        font-size: 2rem;
        position: absolute;
        top: 50%;
        right: 25px;
        font-family: $main-font;
    }
    &__nav{
        display: flex;
        flex-direction: column;
        justify-content: space-around;       
        height: 200px;
        position: sticky;
        top: 0;
        background-color: antiquewhite;
        opacity: 0.7;
        &--logo{
        height: 125px;
        align-self: center;
        & img{
            height: 100%;
            border-radius: 50%;
            box-shadow: 0 0 10px #afa4a48a;
        }
        }
        & nav ul{
            display: flex;
            justify-content: space-evenly;
            list-style-type: none;
                & li{
                    font-family: $main-font;
                }
                & li a{
                    text-decoration: none;
                    color: black;
                }
        }
    }
}
.principal{
    grid-area: principal;
    &__bio{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 650px;
        font-size: 1rem;
        font-family: $main-font;
        color: rgb(36, 37, 38);
        margin: 5% 0;
        & h2{
            padding: 0 20%;
        }
        & p{
            padding: 0 20%;
        }
        &Ph{
            height: 300px;
            background-image: url(../assets/MyPhoto.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }
    }
    &__conocimientos{
        font-size: 1rem;
        font-family: $main-font;
        margin: 5% 0;
        height: 1000px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        & h2{
            text-align: right;
            padding: 0 20%;
        }
        & p{
            padding: 0 20%;
        }
        & h3{
            text-align: center;
            margin: 5% 0;
            padding: 0 20%;
        }
        &--tools{
            display: grid;
            grid-template-columns: auto auto auto auto;
            grid-template-rows: auto auto auto;
            height: 500px;
            background-color: lightgrey;
            margin: 0 15%;
            @each $tool in HTML, GIT, SASS, CSS, JS, GITHub, Bootstrap{
                .principal__conocimientos--tools#{$tool}{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    @if $tool == HTML{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 1/2;
                        grid-row: 1/span 2;
                        
                    }
                    @if $tool == GIT{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 2/span 3;
                        grid-row: 1/2;
                        
                    }
                    @if $tool == SASS{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 2/3;
                        grid-row: 2/3;
                        
                    }
                    @if $tool == CSS{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 3/4;
                        grid-row: 2/4;
                        
                    }
                    @if $tool == JS{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 1/2;
                        grid-row: 3/4;
                        
                    }
                    @if $tool == GITHub{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 2/3;
                        grid-row: 3/4;
                        
                    }
                    @if $tool == Bootstrap{
                        @extend .principal__conocimientos--tools#{$tool};
                        grid-column: 4/5;
                        grid-row: 2/4;
                        
                    }
                }
                .principal__conocimientos--tools#{$tool} img{
                    width: 100px;
                }
            }
        }
    }
    &__experiencia{
        background-color: black;
        font-size: 1rem;
        font-family: $main-font;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 650px;
        padding: 0 20%;
        &Proyecto{
            height: 170px;
            width: 150px;
            background-color: black;
            transition: all 1.5s;
            & img{
                width: 100%;
            }
            & p{
                position:absolute;
                text-align: center;
                font-size: 1rem;
                display: none;
            }
        }  
        &Proyecto:hover{
            opacity: 0.5;
        }
        &Proyecto:hover p{ 
            display: block;  
        }
        &Proyecto--puntoverde {
            height: 170px;
            width: 150px;
            background-color: black;
            transition: all 1.5s;
            & img{
                width: 100%;
                border-radius: 50%;
            }
            & p{
                position:absolute;
                text-align: center;
                font-size: 1rem;
                display: none;
            }
        }
        &Proyecto--puntoVerde:hover{
            opacity: 0.5;
        }
        &Proyecto--puntoVerde:hover p{ 
            display: block;  
        }
    }
    &__contacto{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 600px;
        margin: 5% 0;
        & h3{
            padding: 0 20%;
        }
        &Txt{
            padding: 0 20%;
        }
        &Redes{
            display: flex;
            justify-content: space-around;
            width: 100%;
            @each $red in email, ig, tw, fb{
                &--#{$red}{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                }
            }
        }
    }
}
footer{
    grid-area: pie;
    height: 200px;
    font-family: $main-font;
    background: black;
    opacity: 0.8;
    & p{
        text-align: center;
        position: relative;
        top: 50%;
        color: whitesmoke;
    }
}