.layout{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "encabezado encabezado"
                         "principal principal"
                         "pie pie";
}